OPENAI_API_KEY=your_openai_api_key_here
JWT_SECRET_KEY=aiintrviewsecretkey

# Email SMTP settings for Gmail verification

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=soniraj02082006@gmail.com
SMTP_PASS=igtdkzsrtyncusdj
SMTP_FROM_NAME=InterviewAi
SMTP_FROM_EMAIL=soniraj02082006@gmail.com
FRONTEND_URL=http://localhost:5173